<div id="<%= dom_id visit %>">
  <p>
    <strong>Visitante:</strong>
    <%= visit.visitante_id %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= visit.setor_id %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= visit.funcionario_id %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= visit.horario %>
  </p>

</div>
